<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout3}">

<th:block layout:fragment="css">
</th:block>
  	  
<th:block layout:fragment="content">
	<div class="section">
		<div class="container">
			메인 화면이 아닙니다......-승호-
			.........메인 화면이 아닙니다......
			가하나파다라마바사

			3차수정본

			변경 안 함`````````
			4차수정본

		</div>
	</div>
</th:block>
 
<th:block layout:fragment="script">
</th:block> 

</html>